@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Sora+Sompeng&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #051937,
    #103264,
    #1d4d95,
    #2b6bc8,
    #3b89ff
  );
  color: aliceblue;
}
/* Glass effect */
.cont {
  background: rgba(127, 240, 255, 0.25);
  /* background: rgba(127, 212, 255, 0.193); another bg to try */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
}

.active {
  display: block;
}
.notActive {
  display: none;
}

/* {form} */
.bg {
  background: rgba(0, 187, 255, 0.141);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
}
.item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

table tr {
  padding: 8px;
}
table th {
  width: 8rem;
  text-align: start;
}
table tr:nth-child(odd) {
  background: rgb(12, 109, 154);
}

table tr:nth-child(even) {
  background: rgb(47, 159, 240);
}
